---
permalink: /
title: Introduction
layout: none   
excerpt: none
---

<html lang="en">
  {% include head.html %}
  <body class="layout-table-of-contents">
    <a class="a-skip-to-main" href="#main">Skip to main content</a>
    <header role="banner" class="site-header">
      <div class="wrapper">
        <h1 id="title-bellese-research-guide">{{site.title}}</h1>
        <p>{{site.description}}</p>
      </div>
    </header>
    <main id="main" role="main">
      <div class="wrapper">
        <h1>Values</h1>
        <ul>
          <li>Accessibility</li>
          <li>Clarity</li>
          <li>Consensus</li>
          <li>Critical thinking</li>
          <li>Helping people</li>
          <li>Honesty</li>
          <li>Learning</li>
          <li>Mindfulness</li>
          <li>Nurturing the field of research</li>
          <li>Respect</li>
          <li>Storytelling</li>
        </ul>
      </div>
    </main>
    {% include site-footer.html %}
  </body>
</html>
